.wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem;

    background-color: var(--bg);
    color: var(--white);


}

.wrapper>input:focus {
    outline: none !important;
}

.wrapper p{
    font-size: larger;
}