.wrapper {
    height: calc(100vh - 1.15rem);
    width: 100%;
    background-color: none;
    border-radius: 3px;
    color: var(--white);
}

.wrapper>input:focus {
    outline: none !important;
}

.wrapper p{
    font-size: larger;
}