.titleBar {
    position: relative;
    
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 2rem;
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
    margin: 0;
    display: flex;
    background: linear-gradient(70deg, #34D399, #0891B2);
}

.title {
    flex-grow: 1;
    display:flex;
    align-items: center;
    justify-content: center;    
}

.btns {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    -webkit-app-region: no-drag;
    flex-direction: row;
    display:flex;
    gap: 5px;
    margin-right: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;
}

.btn:hover {
    background-color: var(--dark-lo);
}